/*---- VARIABLE DEFINITIONS ----*/
:root {
    /* Fonts */
    --font-main: Verdana, Tahoma, Arial, sans-serif;
    --font-menu: Verdana, "Arial Black";
    --font-size-menu: 14px;
    --font-size-footer: 14px;

    /* Vintique Sound Logo Color Pallette */
    --color-bistre: #2d261eff;
    --color-coyote: #7b593dff;
    --color-copper: #ae7e4eff;
    --color-sunset: #ffcf83ff;
    --color-pearl: #e3ddc3ff;
    --color-alice-blue: #f5fafdff;
    --color-light-blue: #bce7f4ff;
    --color-sky-blue: #82d4eaff;
    --color-aquamarine: #8decccff;
    --color-straw: #ece583ff;

    /* Vintique Sound Website Color Pallete */
    --color-jet: #2f2e2eff;
    --color-silver: #ababa9ff;
    --color-platinum: #eaeaeaff;
    --color-aquamarine: #8decccff;
    --color-sunset: #ffcf83ff;
    --color-salmon: #ff7c6bff;

    /* Layout */
    --header-height: 50px;
    --footer-height: auto;
}


/*---- GENERAL ----*/
html {
    scroll-behavior: smooth;
}


/*---- TEXT RELATED ----*/
h1 {
    font-size: calc(min(max(6vw, 36px), 56px));
}

p {
    font-size: calc(min(max(2vw, 18px), 26px));
    padding: 0.5rem;
}


/*---- OVERVIEW ----*/
body {
    margin: 0; /* Removes white space around page */
    background-color: var(--color-platinum);
    font-family: var(--font-main);
}

header, footer {
    /* Define color and padding */
    background-color: var(--color-jet);
    color: var(--color-platinum);
    padding: 10px;
}

/*---- HEADER ----*/
header {
    /* Define header dimensions and behavior */
    width: 100%;
    height: var(--header-height);
    position: fixed;
    z-index: 100;

    /* Align items in header */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

header #header-logo a img {
    height: 40px;
    width: auto;
}

header #menu-hamburger-icon {
    display: none;
}

header #menu-items a {
    padding: 10px;
    font-family: var(--font-menu);
    font-size: var(--font-size-menu);
    font-weight: bold;
    color: var(--color-platinum);
    text-decoration: none;
}

header #menu-items a:hover {
    text-decoration: none;
    color: var(--color-aquamarine);
}


/*---- MAIN ----*/
main {
    padding-top: calc(var(--header-height) - 10px);
    min-height: calc(100vh - 3 * var(--header-height) - var(--footer-height));
    align-items: center;
    text-align: center;
    /* margin: auto; */
}

main #index-logo img {
    padding: 2vw;
    width: 80%;
    max-width: 635px;
    min-width: 25%;
    height: auto;
}

main .image-large img,
.spotify-container,
.soundcloud-container {
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 25%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 2vw;
}

main .google-sheets-container iframe{
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 25%;
    max-width: 960px;
    height: 100vh;
    min-height: 100%;
    max-height: 540px;
    margin: 0 auto;
    padding: 2vw;
}

main .video-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

main .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* for 16:9 aspect ratio */
}

main .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*---- SECTIONS ----*/
.section-jet {
    background-color: var(--color-jet);
    padding: 40px;
}

.section-jet h1 {
    color: var(--color-platinum);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-jet p {
    color: var(--color-platinum);
    
}

.section-silver {
    background-color: var(--color-silver);
    color: var(--color-jet);
    padding: 40px;
}

.section-silver h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-platinum);
}

.section-silver p {
    color: var(--color-jet);
}

.section-platinum {
    background-color: var(--color-platinum);
    color: var(--color-jet);
    padding: 40px;
}

.section-platinum h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-platinum p {
    color: var(--color-jet);
}

.section-platinum .button-aquamarine {
    background: var(--color-aquamarine);
}

.section-platinum .button-aquamarine:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-salmon);
}

.section-platinum .button-salmon {
    background: var(--color-salmon);
}

.section-platinum .button-salmon:hover {
    background: var(--color-platinum);
    color: var(--color-salmon);
    outline: 5px solid var(--color-sunset);
}

.section-aquamarine {
    background-color: var(--color-aquamarine);
    color: var(--color-jet);
    padding: 40px;
}

.section-aquamarine h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-aquamarine p {
    color: var(--color-jet);
}

.section-aquamarine button:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-salmon);
}

.section-jasmine {
    background-color: var(--color-sunset);
    color: var(--color-jet);
    padding: 40px;
}

.section-jasmine h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-jasmine p {
    color: var(--color-jet);
}

.section-salmon {
    background-color: var(--color-salmon);
    color: var(--color-aquamarine);
    padding: 40px;
}

.section-salmon h1 {
    color: var(--color-aquamarine);
    text-shadow: 4px 4px 4px var(--color-jet);
}

.section-salmon p {
    color: var(--color-jet);
}

.section-salmon button:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-aquamarine);
}

.container-text {
    width: 70vw;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


/*---- FOOTER ----*/
footer {
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

footer #footer-logo img {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15vw;
    margin-right: 15vw;
}

footer #footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 5vw;
    margin-right: 10vw;
}

footer #footer-socials img {
    width: 32px;
    height: auto;
}

footer #footer-socials a:hover {
    filter: invert(1);
}

footer #footer-copyright {
    font-size: var(--font-size-footer);
    color: var(--color-platinum);
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*---- ANIMATIONS ----*/
nav a, button {
    transition: all 0.3s ease;
}

/*---- BUTTONS ----*/
button {
    text-decoration: none;
    color: var(--color-jet);
    font-size: 1.5rem;
    text-shadow: 0 1px 1px var(--color-jet);
    border: 5px solid var(--color-jet);
    border-radius: 6px;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
}


/*---- Media Queries to adjust for smaller screen sizes ----*/
@media (max-width: 960px) {
    header {
        display: flex;
        gap: 25vw;
    }

    header #menu-items {
        display: none;
    }

    header #menu-hamburger-icon {
        display: block;
    }

    header #menu-hamburger-icon img {
        /* align-items: right; */
        width: 40px;
        height: auto;
    }
}
