/*---- SECTIONS ----*/
/*---- (section backgrounds, text colors, etc.) ----*/


.section-jet {
    background-color: var(--color-jet);
    padding: 40px;
}

.section-jet h1 {
    color: var(--color-platinum);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-jet p {
    color: var(--color-platinum);
}

.section-silver {
    background-color: var(--color-silver);
    color: var(--color-jet);
    padding: 40px;
}

.section-silver h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-platinum);
}

.section-silver p {
    color: var(--color-jet);
}

.section-platinum {
    background-color: var(--color-platinum);
    color: var(--color-jet);
    padding: 40px;
}

.section-platinum h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-silver);
}

.section-platinum p {
    color: var(--color-jet);
}

.section-platinum .button-aquamarine {
    background: var(--color-aquamarine);
}

.section-platinum .button-aquamarine:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-salmon);
}

.section-platinum .button-salmon {
    background: var(--color-salmon);
}

.section-platinum .button-salmon:hover {
    background: var(--color-platinum);
    color: var(--color-salmon);
    outline: 5px solid var(--color-sunset);
}

.section-aquamarine {
    background-color: var(--color-aquamarine);
    color: var(--color-jet);
    padding: 40px;
}

.section-aquamarine h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-platinum);
}

.section-aquamarine p {
    color: var(--color-jet);
}

.section-aquamarine button:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-salmon);
}

.section-jasmine {
    background-color: var(--color-sunset);
    color: var(--color-jet);
    padding: 40px;
}

.section-jasmine h1 {
    color: var(--color-jet);
    text-shadow: 4px 4px 4px var(--color-platinum);
}

.section-jasmine p {
    color: var(--color-jet);
}

.section-salmon {
    background-color: var(--color-salmon);
    color: var(--color-aquamarine);
    padding: 40px;
}

.section-salmon h1 {
    color: var(--color-aquamarine);
    text-shadow: 4px 4px 4px var(--color-jet);
}

.section-salmon p {
    color: var(--color-jet);
}

.section-salmon button:hover {
    background: var(--color-sunset);
    outline: 5px solid var(--color-aquamarine);
}